#main {
  width: 420; 
  margin: auto;

  font-family: "Helvetica","Arial",Sans-serif;
  font-size: 10pt;
  font-weight: normal;
  color: #808080;

  text-transform: lowercase;
}

#name {
  margin-top: 30px;
  margin-bottom: 5px;

  font-size: 36pt;
  font-weight: bolder;
  color: Black;

  text-align: right;
  letter-spacing: -1px;
}

#summary {
  margin-bottom: 10px;
  text-align: justify;
}

.cite {
  text-align: left;
  margin-bottom: 5px;
}
.title {
  color: Black;
  font-weight: bold;
}
.author {
}
.journal {
}
.note {
}

a:link { 
  color: #336633; 
  font-weight: bold;
  text-decoration: none; 
}
a:visited { 
  color: #336633; 
  font-weight: bold;
  text-decoration: none; 
}
a:hover { 
  color: #336633; 
  font-weight: bold;
  text-decoration: none; 
}
a:active { 
  color: #336633; 
  font-weight: bold;
  text-decoration:none; 
}
